<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ejunhai.qutihuo.system.dao.SystemActionMapper" >
    <resultMap id="SystemActionMapper" type="com.ejunhai.qutihuo.system.model.SystemAction" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="action_name" property="actionName" jdbcType="VARCHAR" />
        <result column="action_type" property="actionType" jdbcType="TINYINT" />
        <result column="parent_id" property="parentId" jdbcType="INTEGER" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="icon_css" property="iconCss" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="weight" property="weight" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,
        action_name,
        action_type,
        parent_id,
        url,
        icon_css,
        remark,
        weight,
        create_time
    </sql>
    
    <select id="read" resultMap="SystemActionMapper" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from tb_system_action
        where ID = #{id,jdbcType=INTEGER}
    </select>
    
    <insert id="insert" parameterType="com.ejunhai.qutihuo.system.model.SystemAction" useGeneratedKeys="true" keyProperty="id" >
        insert into tb_system_action (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=INTEGER},
        #{actionName,jdbcType=VARCHAR},
        #{actionType,jdbcType=TINYINT},
        #{parentId,jdbcType=INTEGER},
        #{url,jdbcType=VARCHAR},
        #{iconCss,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR},
        #{weight,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    
    <update id="update" parameterType="com.ejunhai.qutihuo.system.model.SystemAction" >
        update tb_system_action
        <set>
            id = #{id,jdbcType=INTEGER},
            action_name = #{actionName,jdbcType=VARCHAR},
            action_type = #{actionType,jdbcType=TINYINT},
            parent_id = #{parentId,jdbcType=INTEGER},
            url = #{url,jdbcType=VARCHAR},
            icon_css=#{iconCss,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR},
            weight = #{weight,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    
    <delete id="delete" parameterType="java.lang.Integer" >
        delete from tb_system_action where ID = #{id,jdbcType=INTEGER}
    </delete>
    
    <select id="querySystemActionCount" resultType="java.lang.Integer">
    	select count(1) from tb_system_action
    	<where>
    		<if test="actionName!=null and actionName!=''"> and action_name like CONCAT('%',#{actionName},'%')</if>
	    	<if test="actionType!=null and actionType!=''"> and action_type = #{actionType,jdbcType=INTEGER}</if>
	    	<if test="parentId!=null and parentId!=''"> 
	    		and (parent_id = #{parentId,jdbcType=INTEGER} or id = #{parentId,jdbcType=INTEGER})
	    	</if>
		</where>
    </select>
    
    <select id="querySystemActionList" resultMap="SystemActionMapper">
    	select <include refid="Base_Column_List" /> from tb_system_action 
    	<where>
    		<if test="actionName!=null and actionName!=''"> and action_name like CONCAT('%',#{actionName},'%')</if>
	    	<if test="actionType!=null and actionType!=''"> and action_type = #{actionType,jdbcType=INTEGER}</if>
	    	<if test="parentId!=null and parentId!=''"> 
	    		and (parent_id = #{parentId,jdbcType=INTEGER} or id = #{parentId,jdbcType=INTEGER})
	    	</if>
		</where>
		order by weight asc
    	limit #{offset},#{pageSize} 
    </select>
    
    <select id="getSystemActionListByIds" resultMap="SystemActionMapper">
    	select <include refid="Base_Column_List" /> from tb_system_action where id in (
	        <foreach collection="list" item="actionId" index="index" separator="," >  
		        #{actionId}
		    </foreach>
	    ) 
    </select>
    
</mapper>