<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ejunhai.qutihuo.system.dao.SystemRoleMapper" >
    <resultMap id="SystemRoleMapper" type="com.ejunhai.qutihuo.system.model.SystemRole" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="role_type" property="roleType" jdbcType="TINYINT" />
        <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
        <result column="role_name" property="roleName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,
        role_type,
        merchant_id,
        role_name,
        create_time
    </sql>
    
    <select id="read" resultMap="SystemRoleMapper" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from tb_system_role
        where ID = #{id,jdbcType=INTEGER}
    </select>
    
    <insert id="insert" parameterType="com.ejunhai.qutihuo.system.model.SystemRole" useGeneratedKeys="true" keyProperty="id" >
        insert into tb_system_role (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=INTEGER},
        #{roleType,jdbcType=TINYINT},
        #{merchantId,jdbcType=INTEGER},
        #{roleName,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    
    <update id="update" parameterType="com.ejunhai.qutihuo.system.model.SystemRole" >
        update tb_system_role
        <set>
            id = #{id,jdbcType=INTEGER},
            role_type = #{roleType,jdbcType=TINYINT},
            merchant_id = #{merchantId,jdbcType=INTEGER},
            role_name = #{roleName,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    
    <delete id="delete" parameterType="java.lang.Integer" >
        delete from tb_system_role
        where ID = #{id,jdbcType=INTEGER}
    </delete>
    
    <select id="querySystemRoleCount" resultType="java.lang.Integer">
    	select count(1) from tb_system_role
    	<where>
    	    <if test="roleType != null and roleType !=''"> and role_type = #{roleType} </if>
    		<if test="merchantId != null and merchantId !=''"> and merchant_id = #{merchantId} </if>
    		<if test="roleName!=null and roleName!=''"> and role_name like CONCAT('%',#{roleName},'%')</if>
		</where>
    </select>
    
    <select id="querySystemRoleList" resultMap="SystemRoleMapper">
    	select <include refid="Base_Column_List" /> from tb_system_role
    	<where>
    		<if test="roleType != null and roleType !=''"> and role_type = #{roleType} </if>
    		<if test="merchantId != null and merchantId !=''"> and merchant_id = #{merchantId} </if>
    		<if test="roleName!=null and roleName!=''"> and role_name like CONCAT('%',#{roleName},'%')</if>
		</where>
    	limit #{offset},#{pageSize} 
    </select>
    
    <select id="getSystemRoleListByIds" resultMap="SystemRoleMapper">
    	select <include refid="Base_Column_List" /> from tb_system_role where id in (
	        <foreach collection="list" item="roleId" index="index" separator="," >  
		        #{roleId}
		    </foreach>
	    ) 
    </select>
    
</mapper>