<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ejunhai.qutihuo.system.dao.SystemPrivilageMapper" >
    <resultMap id="SystemPrivilageMapper" type="com.ejunhai.qutihuo.system.model.SystemPrivilage" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="role_id" property="roleId" jdbcType="INTEGER" />
        <result column="action_id" property="actionId" jdbcType="INTEGER" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,
        role_id,
        action_id
    </sql>
    
    <select id="read" resultMap="SystemPrivilageMapper" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from tb_system_privilage
        where ID = #{id,jdbcType=INTEGER}
    </select>
    
    <insert id="insert" parameterType="com.ejunhai.qutihuo.system.model.SystemPrivilage" useGeneratedKeys="true" keyProperty="id" >
        insert into tb_system_privilage (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=INTEGER},
        #{roleId,jdbcType=INTEGER},
        #{actionId,jdbcType=INTEGER}
        )
    </insert>
    
    <update id="update" parameterType="com.ejunhai.qutihuo.system.model.SystemPrivilage" >
        update tb_system_privilage
        <set>
            id = #{id,jdbcType=INTEGER},
            role_id = #{roleId,jdbcType=INTEGER},
            action_id = #{actionId,jdbcType=INTEGER}
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    
    <delete id="delete" parameterType="java.lang.Integer" >
        delete from tb_system_privilage
        where ID = #{id,jdbcType=INTEGER}
    </delete>
    
    <select id="querySystemPrivilageCount" resultType="java.lang.Integer">
    		select count(1) from tb_system_privilage
    </select>
    
    <select id="querySystemPrivilageList" resultMap="SystemPrivilageMapper">
    		select <include refid="Base_Column_List" /> from tb_system_privilage
    </select>
    
</mapper>