<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ejunhai.qutihuo.order.dao.LogisticsCompanyMapper" >
    <resultMap id="LogisticsCompanyMapper" type="com.ejunhai.qutihuo.order.model.LogisticsCompany" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="lc_name" property="lcName" jdbcType="VARCHAR" />
        <result column="lc_code" property="lcCode" jdbcType="VARCHAR" />
        <result column="express_template" property="expressTemplate" jdbcType="VARCHAR" />
        <result column="contact" property="contact" jdbcType="VARCHAR" />
        <result column="telephone" property="telephone" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,
        lc_name,
        lc_code,
        express_template,
        contact,
        telephone,
        create_time,
        update_time
    </sql>
    
    <select id="read" resultMap="LogisticsCompanyMapper" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from tb_logistics_company
        where ID = #{id,jdbcType=INTEGER}
    </select>
    
    <insert id="insert" parameterType="com.ejunhai.qutihuo.order.model.LogisticsCompany" useGeneratedKeys="true" keyProperty="id" >
        insert into tb_logistics_company (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=INTEGER},
        #{lcName,jdbcType=VARCHAR},
        #{lcCode,jdbcType=VARCHAR},
        #{expressTemplate,jdbcType=VARCHAR},
        #{contact,jdbcType=VARCHAR},
        #{telephone,jdbcType=VARCHAR},
        now(),
        now()
        )
    </insert>
    
    <update id="update" parameterType="com.ejunhai.qutihuo.order.model.LogisticsCompany" >
        update tb_logistics_company
        <set>
            id = #{id,jdbcType=INTEGER},
            lc_name = #{lcName,jdbcType=VARCHAR},
            lc_code = #{lcCode,jdbcType=VARCHAR},
            express_template = #{expressTemplate,jdbcType=VARCHAR},
            contact = #{contact,jdbcType=VARCHAR},
            telephone = #{telephone,jdbcType=VARCHAR},
            update_time = now()
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    
    <delete id="delete" parameterType="java.lang.Integer" >
        delete from tb_logistics_company
        where ID = #{id,jdbcType=INTEGER}
    </delete>
    
    <select id="queryLogisticsCompanyCount" resultType="java.lang.Integer">
    		select count(1) from tb_logistics_company
    </select>
    
    <select id="queryLogisticsCompanyList" resultMap="LogisticsCompanyMapper">
    		select <include refid="Base_Column_List" /> from tb_logistics_company
    		
    		limit #{offset},#{pageSize} 
    </select>
    
    
    <select id="findLogisticsCompany" resultMap="LogisticsCompanyMapper">
    		select <include refid="Base_Column_List" /> from tb_logistics_company 
    		<where>
    		<if test="lcCode!=null and lcCode!=''">
				and lc_code = #{lcCode,jdbcType=VARCHAR} 
			</if>
	    	<if test="id!=null and id!=''">
				id = #{id,jdbcType=INTEGER},
			</if>
		</where>
    		
    </select>
    
    
</mapper>