<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ejunhai.qutihuo.order.dao.OrderMainMapper" >
    <resultMap id="OrderMainMapper" type="com.ejunhai.qutihuo.order.model.OrderMain" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="order_main_no" property="orderMainNo" jdbcType="VARCHAR" />
        <result column="coupon_number" property="couponNumber" jdbcType="VARCHAR" />
        <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
        <result column="state" property="state" jdbcType="TINYINT" />
        <result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
        <result column="order_date" property="orderDate" jdbcType="VARCHAR" />
        <result column="consignee" property="consignee" jdbcType="VARCHAR" />
        <result column="telephone" property="telephone" jdbcType="VARCHAR" />
        <result column="province_code" property="provinceCode" jdbcType="VARCHAR" />
        <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
        <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
        <result column="detail_address" property="detailAddress" jdbcType="VARCHAR" />
        <result column="logistics_company" property="logisticsCompany" jdbcType="VARCHAR" />
        <result column="express_order_no" property="expressOrderNo" jdbcType="VARCHAR" />
        <result column="deliver_time" property="deliverTime" jdbcType="TIMESTAMP" />
        <result column="is_send_sms" property="isSendSms" jdbcType="TINYINT" />
        <result column="is_print_express" property="isPrintExpress" jdbcType="TINYINT" />
        <result column="source" property="source" jdbcType="TINYINT" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,
        order_main_no,
        coupon_number,
        merchant_id,
        state,
        pay_amount,
        order_date,
        consignee,
        telephone,
        province_code,
        city_code,
        area_code,
        detail_address,
        logistics_company,
        express_order_no,
        deliver_time,
        is_send_sms,
        is_print_express,
        source,
        remark,
        create_time
    </sql>
    
    <select id="read" resultMap="OrderMainMapper" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from tb_order_main
        where ID = #{id,jdbcType=INTEGER}
    </select>
    
    <insert id="insert" parameterType="com.ejunhai.qutihuo.order.model.OrderMain" useGeneratedKeys="true" keyProperty="id" >
        insert into tb_order_main (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=INTEGER},
        #{orderMainNo,jdbcType=VARCHAR},
        #{couponNumber,jdbcType=VARCHAR},
        #{merchantId,jdbcType=INTEGER},
        #{state,jdbcType=TINYINT},
        #{payAmount,jdbcType=DECIMAL},
        #{orderDate,jdbcType=VARCHAR},
        #{consignee,jdbcType=VARCHAR},
        #{telephone,jdbcType=VARCHAR},
        #{provinceCode,jdbcType=VARCHAR},
        #{cityCode,jdbcType=VARCHAR},
        #{areaCode,jdbcType=VARCHAR},
        #{detailAddress,jdbcType=VARCHAR},
        #{logisticsCompany,jdbcType=VARCHAR},
        #{expressOrderNo,jdbcType=VARCHAR},
        #{deliverTime,jdbcType=TIMESTAMP},
        #{isSendSms,jdbcType=TINYINT},
        #{isPrintExpress,jdbcType=TINYINT},
        #{source,jdbcType=TINYINT},
        #{remark,jdbcType=VARCHAR},
        now()
        )
    </insert>
    
    <update id="update" parameterType="com.ejunhai.qutihuo.order.model.OrderMain" >
        update tb_order_main
        <set>
            <if test="state != null">
            	state = #{state,jdbcType=TINYINT},
            </if>
            <if test="orderDate != null">
            order_date = #{orderDate,jdbcType=VARCHAR},
             </if>
              <if test="consignee != null">
            consignee = #{consignee,jdbcType=VARCHAR},
              </if>
               <if test="telephone != null">
            telephone = #{telephone,jdbcType=VARCHAR},
             </if>
             <if test="provinceCode != null">
            province_code = #{provinceCode,jdbcType=VARCHAR},
            </if>
            <if test="cityCode != null">
            city_code = #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="areaCode != null">
            area_code = #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="detailAddress != null">
            detail_address = #{detailAddress,jdbcType=VARCHAR},
            </if>
            <if test="logisticsCompany != null">
            logistics_company = #{logisticsCompany,jdbcType=VARCHAR},
            </if>
            <if test="expressOrderNo != null">
            express_order_no = #{expressOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="deliverTime != null">
            deliver_time = #{deliverTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isSendSms != null">
            is_send_sms = #{isSendSms,jdbcType=TINYINT},
            </if>
            <if test="isPrintExpress != null">
            is_print_express = #{isPrintExpress,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
            remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    
    <delete id="delete" parameterType="java.lang.Integer" >
        delete from tb_order_main
        where ID = #{id,jdbcType=INTEGER}
    </delete>
    
    <select id="queryOrderMainCount" resultType="java.lang.Integer">
    		select count(1) from tb_order_main
    </select>
    
    <select id="queryOrderMainList" resultMap="OrderMainMapper">
    		select <include refid="Base_Column_List" /> from tb_order_main
    		limit #{offset},#{pageSize} 
    </select>
    
</mapper>