<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ejunhai.qutihuo.coupon.dao.CouponMapper" >
    <resultMap id="CouponMapper" type="com.ejunhai.qutihuo.coupon.model.Coupon" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="coupon_number" property="couponNumber" jdbcType="VARCHAR" />
        <result column="coupon_password" property="couponPassword" jdbcType="VARCHAR" />
        <result column="coupon_schema_id" property="couponSchemaId" jdbcType="INTEGER" />
        <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
        <result column="state" property="state" jdbcType="SMALLINT" />
        <result column="use_startdate" property="useStartdate" jdbcType="TIMESTAMP" />
        <result column="use_enddate" property="useEnddate" jdbcType="TIMESTAMP" />
        <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
        <result column="use_time" property="useTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,
        coupon_number,
        coupon_password,
        coupon_schema_id,
        merchant_id,
        state,
        use_startdate,
        use_enddate,
        order_number,
        use_time,
        create_time
    </sql>
    
   	<select id="read" resultMap="CouponMapper" parameterType="java.lang.Integer" >
        select <include refid="Base_Column_List" /> from tb_coupon  where ID = #{id,jdbcType=INTEGER}
    </select>
    
   	<select id="getCouponByNo" resultMap="CouponMapper" parameterType="String" >
        select <include refid="Base_Column_List" /> from tb_coupon  where coupon_number = #{couponNumber,jdbcType=INTEGER}
    </select>
    
    <select id="getCouponByOrderNo" resultMap="CouponMapper" parameterType="String" >
        select <include refid="Base_Column_List" /> from tb_coupon  where order_number = #{orderNumber,jdbcType=INTEGER}
    </select>
    
    <select id="queryCouponCount" resultType="java.lang.Integer">
    	select count(1) from tb_coupon
    	<where>
    		<if test="merchantId != null and merchantId !=''"> and merchant_id = #{merchantId} </if>
    		<if test="couponSchemaId != null and couponSchemaId !=''"> and coupon_schema_id = #{couponSchemaId} </if>
  			<if test="couponNumber != null and couponNumber !=''">and coupon_number =#{couponNumber} </if>
  			<if test="state != null">and state=#{state} </if>
		</where>
    </select>
    
    <select id="queryCouponList" resultMap="CouponMapper">
    	select <include refid="Base_Column_List" /> from tb_coupon
    	<where>
    		<if test="merchantId != null and merchantId !=''"> and merchant_id = #{merchantId} </if>
    		<if test="couponSchemaId != null and couponSchemaId !=''"> and coupon_schema_id = #{couponSchemaId} </if>
  			<if test="couponNumber != null and couponNumber !=''">and coupon_number =#{couponNumber} </if>
  			<if test="state != null">and state=#{state} </if>
		</where>
		limit #{offset},#{pageSize} 
    </select>
    
    <insert id="batchAddCoupon" parameterType="com.ejunhai.qutihuo.coupon.model.Coupon" useGeneratedKeys="true" keyProperty="id" >
        insert into tb_coupon (<include refid="Base_Column_List" />) values 
        <foreach collection="list" item="coupon" index="index" separator="," >  
	        (
		        #{coupon.id,jdbcType=INTEGER},
		        #{coupon.couponNumber,jdbcType=VARCHAR},
		        #{coupon.couponPassword,jdbcType=VARCHAR},
		        #{coupon.couponSchemaId,jdbcType=INTEGER},
		        #{coupon.merchantId,jdbcType=INTEGER},
		        #{coupon.state,jdbcType=SMALLINT},
		        #{coupon.useStartdate,jdbcType=TIMESTAMP},
		        #{coupon.useEnddate,jdbcType=TIMESTAMP},
		        #{coupon.orderNumber,jdbcType=VARCHAR},
		        #{coupon.useTime,jdbcType=TIMESTAMP},
		        #{coupon.createTime,jdbcType=TIMESTAMP}
	        )
	    </foreach>
    </insert>
    
    <update id="disturbCoupons"  parameterType="java.lang.Integer">
        update tb_coupon
        <set>
            coupon_password=md5(coupon_password)
        </set>
        where coupon_schema_id = #{couponSchemaId}
    </update>
    
    <update id="updateCouponState"  parameterType="java.lang.Integer">
        update tb_coupon
        <set>
            state = #{state,jdbcType=SMALLINT}
        </set>
        where id = #{id}
    </update>
    
    <update id="useCoupon"  parameterType="java.lang.Integer">
        update tb_coupon
        <set>
            state = #{state,jdbcType=SMALLINT},
            order_number = #{orderNumber,jdbcType=VARCHAR},
            use_time = #{useTime,jdbcType=TIMESTAMP}
        </set>
        where id = #{id}
    </update>
    
</mapper>