<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ejunhai.qutihuo.coupon.dao.CouponSchemaMapper" >
    <resultMap id="CouponSchemaMapper" type="com.ejunhai.qutihuo.coupon.model.CouponSchema" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="coupon_name" property="couponName" jdbcType="VARCHAR" />
        <result column="icon_url" property="iconUrl" jdbcType="VARCHAR" />
        <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
        <result column="exchange_mode" property="exchangeMode" jdbcType="TINYINT" />
        <result column="exchange_item" property="exchangeItem" jdbcType="VARCHAR" />
        <result column="use_startdate" property="useStartdate" jdbcType="TIMESTAMP" />
        <result column="use_enddate" property="useEnddate" jdbcType="TIMESTAMP" />
        <result column="init_activate" property="initActivate" jdbcType="TINYINT" />
        <result column="par_value" property="parValue" jdbcType="DECIMAL" />
        <result column="issue_amount" property="issueAmount" jdbcType="INTEGER" />
        <result column="has_issue_num" property="hasIssueNum" jdbcType="INTEGER" />
        <result column="has_use_num" property="hasUseNum" jdbcType="INTEGER" />
        <result column="has_confusion" property="hasConfusion" jdbcType="TINYINT" />
        <result column="day_limit_num" property="dayLimitNum" jdbcType="INTEGER" />
        <result column="front_day_num" property="frontDayNum" jdbcType="SMALLINT" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,
        coupon_name,
        icon_url,
        merchant_id,
        exchange_mode,
        exchange_item,
        use_startdate,
        use_enddate,
        init_activate,
        par_value,
        issue_amount,
        has_issue_num,
        has_use_num,
        has_confusion,
        day_limit_num,
        front_day_num,
        remark,
        create_time
    </sql>
    
    <select id="read" resultMap="CouponSchemaMapper" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from tb_coupon_schema
        where ID = #{id,jdbcType=INTEGER}
    </select>
    
    <insert id="insert" parameterType="com.ejunhai.qutihuo.coupon.model.CouponSchema" useGeneratedKeys="true" keyProperty="id" >
        insert into tb_coupon_schema (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=INTEGER},
        #{couponName,jdbcType=VARCHAR},
        #{iconUrl,jdbcType=VARCHAR},
        #{merchantId,jdbcType=INTEGER},
        #{exchangeMode,jdbcType=TINYINT},
        #{exchangeItem,jdbcType=VARCHAR},
        #{useStartdate,jdbcType=TIMESTAMP},
        #{useEnddate,jdbcType=TIMESTAMP},
        #{initActivate,jdbcType=TINYINT},
        #{parValue,jdbcType=DECIMAL},
        #{issueAmount,jdbcType=INTEGER},
        #{hasIssueNum,jdbcType=INTEGER},
        #{hasUseNum,jdbcType=INTEGER},
        #{hasConfusion,jdbcType=TINYINT},
        #{dayLimitNum,jdbcType=INTEGER},
        #{frontDayNum,jdbcType=SMALLINT},
        #{remark,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    
    <update id="update" parameterType="com.ejunhai.qutihuo.coupon.model.CouponSchema" >
        update tb_coupon_schema
        <set>
            id = #{id,jdbcType=INTEGER},
            coupon_name = #{couponName,jdbcType=VARCHAR},
            icon_url = #{iconUrl,jdbcType=VARCHAR},
            merchant_id = #{merchantId,jdbcType=INTEGER},
            exchange_mode = #{exchangeMode,jdbcType=TINYINT},
            exchange_item = #{exchangeItem,jdbcType=VARCHAR},
            use_startdate = #{useStartdate,jdbcType=TIMESTAMP},
            use_enddate = #{useEnddate,jdbcType=TIMESTAMP},
            init_activate = #{initActivate,jdbcType=TINYINT},
            par_value = #{parValue,jdbcType=DECIMAL},
            issue_amount = #{issueAmount,jdbcType=INTEGER},
            has_issue_num = #{hasIssueNum,jdbcType=INTEGER},
            has_use_num = #{hasUseNum,jdbcType=INTEGER},
            has_confusion = #{hasConfusion,jdbcType=TINYINT},
            day_limit_num = #{dayLimitNum,jdbcType=INTEGER},
            front_day_num = #{frontDayNum,jdbcType=SMALLINT},
            remark = #{remark,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    
    <delete id="delete" parameterType="java.lang.Integer" >
        delete from tb_coupon_schema where ID = #{id,jdbcType=INTEGER}
    </delete>
    
    <select id="queryCouponSchemaCount" resultType="java.lang.Integer">
    	select count(1) from tb_coupon_schema
    	<where>
    		<if test="merchantId != null and merchantId !=''"> and merchant_id = #{merchantId} </if>
    		<if test="couponName != null and couponName!=''">and coupon_name like CONCAT('%',#{couponName},'%')</if>
		</where>
    </select>
    
    <select id="queryCouponSchemaList" resultMap="CouponSchemaMapper">
    	select <include refid="Base_Column_List" /> from tb_coupon_schema
    	<where>
    		<if test="merchantId != null and merchantId !=''"> and merchant_id = #{merchantId} </if>
    		<if test="couponName != null and couponName!=''">and coupon_name like CONCAT('%',#{couponName},'%')</if>
		</where>
		order by create_time desc limit #{offset},#{pageSize} 
    </select>
    
    <select id="getCouponSchemaListByIds" resultMap="CouponSchemaMapper">
    	select <include refid="Base_Column_List" /> from tb_coupon_schema
    	 where id in (
	        <foreach collection="list" item="id" index="index" separator="," >  
		        #{id}
		    </foreach>
		    )
    </select>
    
    <update id="updateCouponUseNum"  parameterType="java.lang.Integer">
        update tb_coupon_schema
        <set>
            has_use_num = #{hasUseNum,jdbcType=SMALLINT}
        </set>
        where id = #{couponSchemaId}
    </update>
    
    <select id="getCouponSchemaListByOrderNos" resultMap="CouponSchemaMapper">
    	select <include refid="Base_Column_List" /> tb_coupon_schema 
    	where id in (select coupon_schema_id from tb_coupon where order_number in(
    		<foreach collection="list" item="orderNo" index="index" separator="," >  
		        #{orderNo}
		    </foreach>
    	))
    </select>
    
</mapper>